body {

    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif;

}

.tetris-container {

    gap: 38px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.grid {

    gap: 3px;

    display: grid;

    background-color: #000;

    grid-template-rows: repeat(20, 32px);
    grid-template-columns: repeat(10, 32px);

}

.grid div {

    width: 32px;
    height: 32px;

    border-radius: 3px;
    background-color: #444;

}

.grid div.taken {

    border: none;

    background-color: transparent;

}

.tetromino-0 { background-color: #ff5733 !important; }
.tetromino-1 { background-color: #33ff57 !important; }
.tetromino-2 { background-color: #5733ff !important; }
.tetromino-3 { background-color: #ffd700 !important; }
.tetromino-4 { background-color: #00ffff !important; }

.tetromino { opacity: 1 !important; }
.ghost { opacity: 0.5; }

.preview-container {

    color: white;

    position: relative;
    text-align: center;

}

.preview-grid {

    gap: 3px;

    display: grid;

    justify-content: center;
    background-color: #000;

    grid-template-rows: repeat(4, 32px);
    grid-template-columns: repeat(4, 32px);

}

.preview-grid div {

    width: 32px;
    height: 32px;

    border-radius: 3px;
    background-color: #444;

}

#control-icons {

    position: absolute;

    top: 0px;
    left: 0px;

    padding: 5px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

}

#control-icons .control-icon {

    margin: 7px;

    width: 30px;
    height: 30px;

    cursor: pointer;

}

img#instructions {

    display: none;

    width: 800px;
    height: 800px;

}

#sound-on-icon.control-icon { display: block; }
#sound-off-icon.control-icon { display: none; }

.score-area {
    display: flex;
    flex-direction: column;
}

#scoreboard {
    color: white;
    margin-top: 16px;
}

#scoreboard ol {
    padding-left: 20px;
    margin: 0;
}

#scoreboard li {
    font-size: 14px;
}