body {

    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif;

}

.tetris-container {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.grid {

    gap: 3px;

    display: grid;

    background-color: #000;

    grid-template-rows: repeat(20, 32px);
    grid-template-columns: repeat(10, 32px);

}

.grid div {

    width: 32px;
    height: 32px;

    border-radius: 3px;
    background-color: #444;

}

.grid div.taken {
    background-color: transparent;
    border: none;
}

.tetromino-0 {
    background-color: #ff5733 !important;
}

.tetromino-1 {
    background-color: #33ff57 !important;
}

.tetromino-2 {
    background-color: #5733ff !important;
}

.tetromino-3 {
    background-color: #ffd700 !important;
}

.tetromino-4 {
    background-color: #00ffff !important;
}